/* STYLE.CSS for FantasyFootball made by @defe
  
/*	----------------------------------------------------------------------------
	Table Of Contents
	1. RESET CSS & DEFAULT SETTINGS, CLASSES
            1.1 Reset (based on E.Mayer reset with some chngs)
            1.2 Default settings
		1.2.1 Html5 Ads
            1.3 Default classes
	2. MAIN SETTINGS & STRUCTURE - Home
*/			
/*  -----------------------------------------------------------------------------

/* (1) ---------- RESET CSS & DEFAULT SETTINGS, CLASSES  --- */
span.countdown_row { padding: 0px; display: inline; margin: 0px;}
td.hasCountdown { padding: 0px 0px !important;}

/* (1.1) ---------- Reset ---------------------------------- */

*{margin:0}
html,body{height:100%}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;font-family:inherit;font-size:100%;font-weight:inherit;vertical-align:baseline;margin:0;padding:0}
body{line-height:1.5}
table{border-spacing:0;border-collapse:collapse}
caption,th,td{font-weight:400;text-align:left}
table,td,th{vertical-align:middle}
blockquote:before,blockquote:after,q:before,q:after{content:""}


/* (1.2) ---------- Default settings  ---------------------- */

a{color:#ffffff;cursor:pointer;font-weight:700;outline:none;text-decoration:underline}
a b{font-weight:700}
a:hover{text-decoration:none;}
a img{border:none}
ul{list-style:none}
.ie7 input[type=checkbox]{vertical-align:baseline}
label,input[type=button],input[type=submit],input[type=image],button{cursor:pointer}
input{font-family:arial}
pre,code,kbd,samp{font-family:monospace, sans-serif}
button{width:auto;overflow:visible}
button,input[type=checkbox],input[type=radio],input[type=reset],input[type=submit]{padding:1px}
body div{position:relative;text-align:left}
blockquote p:before,blockquote p:after,q:before,q:after{content:''}
a:hover,a:active,input:focus{outline:none}
input[type=radio],.ie6 input{vertical-align:text-bottom}
input[type=checkbox],img{vertical-align:bottom}


/* (1.2.1) ---------- HTML5 adds  ------------------------- */

section, nav, header, footer, aside, hgroup, article {position:relative;display:block}


/* (1.3) ---------- Default classes  ---------------------- */


.debug{border:1px solid red}
.floatRight{display:block;float:right}
.floatLeft{display:block;float:left}
.absolute{position:absolute}
.none{display:none}
.strong{font-weight:700!important}
.hidden{visibility:hidden}
.visible{visibility:visible}
.clearfix{clear:both;overflow:hidden}
.clearfix2:after{height:0;clear:both;content:".";display:block;line-height:0;visibility:hidden}
.clearfix2{display:inline-block}
html[xmlns] .clearfix2{display:block}
* html .clearfix2{height:1%}


/* end (1) ------ RESET CSS & DEFAULT CLASSES  ------------ */

/*####*/


@font-face {
    font-family: 'DezenProRegularRegular';
    src: url('dezen/Dezen_Pro_Regular-webfont.eot');
    src: url('dezen/Dezen_Pro_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('dezen/Dezen_Pro_Regular-webfont.woff') format('woff'),
         url('dezen/Dezen_Pro_Regular-webfont.ttf') format('truetype'),
         url('dezen/Dezen_Pro_Regular-webfont.svg#DezenProRegularRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'DroidSansRegular';
    src: url('droid/DroidSans-webfont.eot');
    src: url('droid/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('droid/DroidSans-webfont.woff') format('woff'),
         url('droid/DroidSans-webfont.ttf') format('truetype'),
         url('droid/DroidSans-webfont.svg#DroidSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DroidSansBold';
    src: url('droid/DroidSans-Bold-webfont.eot');
    src: url('droid/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('droid/DroidSans-Bold-webfont.woff') format('woff'),
         url('droid/DroidSans-Bold-webfont.ttf') format('truetype'),
         url('droid/DroidSans-Bold-webfont.svg#DroidSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}



/* (2) ---------- MAIN SETTINGS & STRUCTURE  -------------- */


body{font-size:12px;color:#000;font-family:arial;background:url(../images/tlo_03.jpg) top center repeat #80AB3F}
#wrapper_wide_bg{width:100%;background:url(../images/repeat_.jpg) center top repeat-y;height:auto;padding-bottom:20px}
#wrapper_insider_bg{width:100%;height:100%;background:url(../images/subpage_02.jpg) center top no-repeat}
#wrapper{width:1000px;color:#fff;margin:0 auto}
#logo {margin-left: 20px; top:10px; position: relative;}


/* (2.1) ---------- top  ---------------------------------- */

.top{width:1000px;height:50px;position:relative;margin:0 auto}
.top img{position:absolute;bottom:0;left:0}
.top .account_box{position:absolute;bottom:10px;right:0;width:auto;height:22px}
.top .account_box a{display:block;float:left;font-family:DezenProRegularRegular;font-size:15px;font-weight:400;height:22px;line-height:22px;position:relative;text-indent:5px;margin-left:5px;text-shadow:-1px 0 0 #fff}
.top .account_box a.login{width:67px;background:url(../images/login_box.png) top left no-repeat;background-size: 100% 21px;;color: #444646;}
.top .account_box a.account{width:118px;background:url(../images/account_box.png) top left no-repeat;padding-right:5px}
.top .account_box a p{float:left}
.top .account_box a p.ammount{color:#FFF;float:right;font-family:arial;font-size:11px;font-weight:400;line-height:18px;text-align:center;text-shadow:none;width:50px;padding:2px 5px}
.header{width:673px;float:left;height:113px;background:url(../images/sub.png) left bottom no-repeat}
.header h1{float:left;margin-top:30px}
.header #main_menu{float:right;margin-top:40px}
.header #main_menu ul li{float:left;margin-left:7px;position:relative}
.header #main_menu ul li a{font-family:DezenProRegularRegular;color:#fff;background:#231926;display:block;border-radius:3px;font-weight:400;font-size:17px;padding:8px 7px 13px;text-decoration:none;}
.header #main_menu ul li span{width:13px;height:10px;background:url(../images/down_arrows.png) top right no-repeat;position:absolute;bottom:4px;display:block;left:50%;margin-left:-7px}
.header #main_menu ul li.active a{background:url(../images/button_g2a.jpg) no-repeat scroll -60px top transparent;color:#000;text-decoration:none;}
.header #main_menu ul li:hover a{background:url(../images/button_g2a.jpg) no-repeat scroll -60px top transparent;color:#000;text-decoration:none}
.top .account_box a.login:hover,.top .account_box a.account:hover{opacity:0.9;filter: alpha(opacity=90);}
.header #main_menu ul li.active span,.header #main_menu ul li:hover span{background-position:left top}
#motto {display: inline-block; position: relative; top: 26px; left: 10px; font-size: 18px; font-family:DezenProRegularRegular; color: #eee;}

/* end (2.1) ---------- top  ------------------------------ */

/*####*/

/* (2.2) ---------- content  ------------------------------ */

.main_content{width:1000px;height:auto;clear:both;overflow:hidden}
.full_c{width:1000px;float:left;padding-top:10px}
.left_c{width:675px;float:left;padding-top:20px}
.left_c2{width:640px;float:left;padding-top:20px}
.right_c{width:315px;float:right;padding-top:30px}
.fill_bg{margin-top:5px;border-radius:4px;width:1000px;float:left;font-family:DroidSansBold;font-size:11px;padding:0}
.fill_bg h3.green_head{font-size:20px;font-family:arial;background:url(../images/green_line.jpg) left bottom no-repeat;padding-bottom:20px;margin-bottom:10px}
.fill_bg .left_c{padding-top:0}
.fill_bg p{line-height:19px;text-align:justify}
.fill_bg .right_c{padding-top:20px;width:316px}
.fill_bg .right_c h3.green_head{background:url(../images/green_line1.jpg) no-repeat scroll left bottom transparent;border:medium none;font-family:arial;font-size:20px;margin-bottom:10px;margin-top:0;padding-bottom:20px;padding-top:0;width:100%}
.full_c	.head_title{font-size:24px;padding-top:10px;color:#fff;font-weight:700;padding-left:5px;padding-bottom:10px}
.left_c	.head_title{font-size:22px;padding-top:10px;color:#fff;font-weight:400;padding-left:5px;padding-bottom:10px}
.full_c .page_box{width:986px;background:#3b333f;border-radius:4px;height:auto;font-family:DroidSansRegular;padding:10px 7px}
.left_c .page_box{width:661px;background:#3b333f;border-radius:4px;height:auto;padding:10px 7px}
.normal_page{font-family:arial;padding:5px}
/*.normal_page h3{font-size:20px;color:#fff;font-weight:700;padding:10px 0}*/
.normal_page h4{font-size:16px;color:#fff;font-weight:700;padding:10px 0}
.right_c h3{background:#231926;border-radius:4px;font-size:20px;float:left;margin:3px 0;padding:2px 10px}
.right_c h3 span{color:#b2e400}
.right_c h4{color:#b2e400;font-size:20px;margin:3px 0;padding:2px 10px}
.lea_in span{float:right;color:#c4fc00;font-weight:700}
.sum_in	span{float:left;color:#c4fc00;padding-left:4px;font-weight:700}
.sum_in ul li{float:left;margin-right:15px;background:url(../images/arr_w.png) left 7px no-repeat;padding-left:10px}
.sum_in ul li a{color:#fff;background:url(../images/underline.jpg) left 12px repeat-x}
.full_c	.head_title b,.left_c	.head_title b{font-size:22px;color:#b2e400;font-weight:700}
.sum_in,.lea_in{background:#3B333F;border-radius:4px;font-size:11px;color:#fff;clear:both;overflow:hidden;margin:3px 0;padding:7px 8px;cursor: pointer}
.lea_in-hover {background:#4B434F;}
.lea_in p,.sum_in p{float:left;font-weight:700;}


/* end (2.2) ---------- content  -------------------------- */

/*####*/
a.contact_email {color:#b2e400;text-decoration:underline;font-weight:400}

/* (2.3) ---------- footer  ------------------------------- */

#logo_mini{width:163px;height:24px;}
#footer{width:1000px;height:auto;padding-top:0;padding-bottom:25px;margin:0 auto}
#footer .info_site{padding-bottom:10px;width:1000px;height:auto;padding-top:20px;clear:both;overflow:hidden;background:url(../images/line1.png) left bottom no-repeat;margin:0 auto}
#footer .info_site .rules{font-family:DroidSansBold;width:670px;float:left;font-size:11px;line-height:20px;padding-top:10px}
#footer .info_site .rules a{color:#b2e400;text-decoration:underline;font-weight:400}
#footer .copy{padding-top:5px;font-family:DroidSansBold;font-size:11px}
#footer .copy .des p{float:left;padding-top:5px;padding-right:5px;color:#c2bac6;font-weight:400}
#footer .copy .cop{float:right;padding-top:5px;color:#c2bac6;font-weight:400}
#footer	.foot_menu #mini_menu{float:right;clear:both;overflow:hidden;margin-top:10px;padding-bottom:5px}
#footer h5 {text-align:right;}
.ie7 #footer .foot_menu #mini_menu {width:293px}
#footer	.foot_menu #mini_menu ul li{float:left;margin-left:6px}
#footer	.foot_menu #mini_menu ul li a{font-family:DezenProRegularRegular;color:#fff;background:#231926;display:block;border-radius:3px;font-weight:400;font-size:16px;padding:3px 8px}
#footer	.foot_menu #mini_menu ul li a.active{background:#b3e502;color:#000}
#footer .copy .des,#footer .copy .des a{float:left}
#footer	.foot_menu,#footer	.foot_menu h5{float:right}


/* end (2.3) ---------- footer  --------------------------- */

/*####*/


/* (2.4) ---------- lobby page  ------------------------------- */

.list450{width:450px;float:left;font-family:DroidSansBold;font-size:11px}
.list450 .list_item{background:#2E2731;border-radius:4px;margin-bottom:5px;padding:11px 8px}
.list450 .list_item p.label{width:125px;float:left;color:#908597}
.list450 .list_item div.item_content{float:left;font-weight:400;color:#fff;line-height:17px}
.list450 .list_item div.item_content p b{color:#c4fc00;font-weight:400}
.list450 .list_item div.item_content ul li{background:url(../images/arr_w.png) left 10px no-repeat;float:none;padding:4px 0 4px 17px}
.players_box{width:100%;padding-top:5px}
.players_box h3.page_in_h{color:#fff;font-size:20px;font-family:arial;margin:3px 0;padding:3px 10px}
.players_box .p_box{width:325px;background:#2e2731;border-radius:4px;height:auto;margin-top:10px;padding-bottom:10px}
.players_box .p_box table{width:300px;font-family:DroidSansBold;font-size:11px;margin:10px auto 0 15px}
.players_box .p_box table td{padding:3px 10px}
.players_box .p_box table td a{color:#fff;font-weight:400}
.players_box .p_box table th{font-weight:700;color:#c3b6cc;padding:4px 10px}
.players_box .p_box table td.gr p{color:#b2e400}
td.name{width:120px}
.players_box .p_box table th.nr{padding:3px 0}
td.nr p{background:url(../images/gr_circle.png) no-repeat scroll left top transparent;color:#000;font-size:11px;height:16px;line-height:17px;text-indent:5px;width:16px}
td.nr_dbl p{background:url(../images/gr_circle.png) no-repeat scroll left top transparent;color:#000;font-size:11px;height:16px;line-height:17px;text-indent:2px;width:16px;letter-spacing:-1px}
.boxes_right200{width:200px;float:right}
.br200_area{float:left;padding-top:30px;padding-left:30px}
.br200_area a{margin:10px 0}
.fixtures{font-family:DezenProRegularRegular;background:url(../images/button_g1.png) no-repeat scroll left top transparent;color:#2a2328;display:block;font-size:18px;font-weight:400;height:29px;line-height:32px;text-indent:10px;width:133px;text-shadow:1px 0 0 #BFE048}
.prices{background:url(../images/button_g2.png) no-repeat scroll left top transparent;color:#2a2328;display:block;font-family:DezenProRegularRegular;font-size:18px;font-weight:400;height:40px;line-height:17px;padding-left:10px;padding-top:8px;text-shadow:1px 0 0 #BFE048;width:123px}
.join{font-family:DezenProRegularRegular;background:url(../images/button_g1.png) no-repeat scroll left top transparent;color:#2a2328;display:block;font-size:18px;font-weight:400;height:29px;line-height:32px;text-indent:10px;width:133px;text-shadow:1px 0 0 #BFE048}
.players_box .p_box table td.nr,.players_box .p_box table td.nr_dbl{width:20px;padding:3px 0}
.invalid{background:url(../images/button_g2_invalid.png) no-repeat scroll left top transparent;color:#2a2328;display:block;font-family:DezenProRegularRegular;font-size:18px;font-weight:400;height:40px;line-height:17px;padding-left:10px;padding-top:8px;text-shadow:1px 0 0 #BFE048;width:123px}

/* (2.5) ---------- lobby page modals  ------------------------------- */

.modal_bg{width:100%;height:100%;background:#111;opacity:0.9;filter: alpha(opacity=90);position:fixed;top:0;left:0}
.modal_window{color:#fff}
.modal_head{background:url(../images/modal_head.jpg) top left no-repeat;width:450px;height:29px;margin:0 auto 10px}
.modal_head p{font-size:18px;font-weight:400;float:left;line-height:29px;text-indent:10px;color:#111;font-family:DezenProRegularRegular}
.modal_head a.close_m{float:right;width:15px;height:15px;display:block;margin:7px 5px 0 0}
.modal_window h5{font-weight:400;font-size:15px;text-indent:5px;font-family:DroidSansRegular;padding:7px 0}
.modal_list{background:#2E2731;border-radius:4px;font-weight:700;margin:5px 0;padding:10px 8px}
.modal_list li{clear:both;float:none;height:17px;font-family:DroidSansBold;font-size:11px;padding:2px 0}
.modal_list li p{float:left}
.modal_list li b{padding-left:5px;color:#b2e400;float:left}
#join_m,#alert_m,#fixtures_m,#prices_m{width:450px;height:auto;background:#403843;position:absolute;top:50px;left:50%;margin-left:-225px;padding:10px}
a.short_button{margin-top: 8px; display:inline-block;height: 22px;;width:57px;background:url(../images/login_box.png) top left no-repeat}
a.short_button:hover{opacity:0.9;filter: alpha(opacity=90);}
a.short_button{font-family:DezenProRegularRegular;font-size:13px;font-weight:400;height:22px;line-height:22px;text-indent:5px;margin-left:5px;text-shadow:-1px 0 0 #fff}

/* (2.6) ---------- home  ------------------------------- */

.home_slides{width:100%;height:275px}
.summary_players{width:100%;margin-top:20px}
p.win_row{font-family:DroidSansBold;font-size:11px;padding-top:0px;width:37px}
.right_c .p_box{width:315px;background:#3B333F;border-radius:4px;height:auto;margin-top:10px;padding-bottom:20px;padding-top:10px}
.right_c .p_box table{width:300px;font-family:DroidSansBold;font-size:11px;margin:10px auto 0 15px}
.right_c .p_box table td{padding:3px 10px}
.right_c .p_box table td a{color:#fff;font-weight:400}
.right_c .p_box table th{font-weight:700;color:#c3b6cc;padding:4px 10px}
.right_c .p_box table td.gr p{color:#b2e400}
td.name{width:120px}
.right_c .p_box table th.nr{padding:3px 0}
.slider_show{padding-top:14px;width:672px;height:272px}
.sl_navi{background:none repeat scroll 0 0 #25202C;border-radius:5px 5px 0 0;bottom:0;position:absolute;right:20px;z-index:100;padding:10px 10px 7px;}
.ie7 .sl_navi {width:150px}
.sl_navi a{display:block;width:16px;height:16px;float:left;margin-right:6px;background:url(../images/navi_buttons.jpg) -61px -5px no-repeat;text-indent:-999em}
.sl_navi a.activeSlide{background-position:-29px -5px;font-size:11px;line-height:15px;text-align:center;text-indent:0}
.sl_navi span{display:block;float:left;width:11px;height:16px;cursor:pointer}
.sl_navi span.prev_ar{background:url(../images/navi_buttons.jpg) -2px -5px no-repeat;margin-right:10px}
.sl_navi span.next_ar{background:url(../images/navi_buttons.jpg) -87px -5px no-repeat;float:right;margin-left:5px}
.active_leagues .al_top{padding:10px 0}
.active_leagues .al_top h3{float:left;font-size:22px;color:#b2e400;font-weight:400}
.active_leagues .al_top a{background:url(../images/mini_ar.jpg) no-repeat scroll right 5px transparent;color:#FFF;float:right;font-size:11px;margin-right:6px;margin-top:14px;padding-right:10px}
.left_c2 .read_more{background:url(../images/read-more.png) no-repeat scroll left top transparent;color:#111;display:block;font-family:DezenProRegularRegular;font-size:16px;font-weight:400;height:28px;line-height:28px;margin-top:10px;text-indent:5px;width:90px}
.video_show a.more_v{background:url(../images/mini_ar.jpg) no-repeat scroll right 5px transparent;color:#FFF;float:right;font-size:11px;margin-right:0;margin-top:6px;padding-right:10px;font-weight:400}
.active_leagues table{width:670px}
.active_leagues table th{background:#3B3340;font-family:DroidSansBold;font-size:11px;color:#C4B6CF;padding:5px 10px}
.active_leagues table th.corner2 span{border-radius:0 5px 5px 0}
tr.border td{border-bottom:1px solid #3B3340;padding:2px}
tr.empty td{padding:2px}

.active_leagues table tr.row_one:nth-child(even) td{background:#2C2431;font-family:DroidSansBold;font-size:11px;color:#fff;border-bottom:4px solid #1D1220;padding:5px 10px; cursor:pointer}
.active_leagues table tr.row_one:nth-child(odd) td{background:#3B3340;font-family:DroidSansBold;font-size:11px;color:#fff;border-bottom:4px solid #1D1220;padding:5px 10px; cursor:pointer}
.active_leagues table tr.row_one:nth-child(even) td.corner1 span{border-radius:5px 0 0 5px;background:#2C2431}
.active_leagues table tr.row_one:nth-child(even) td.corner2 span{border-radius:0 5px 5px 0;background:#2C2431;text-align:center}
.active_leagues table tr.row_one:nth-child(odd) td.corner2 span{border-radius:0 5px 5px 0;background:#3B3340;text-align:center}
.active_leagues table tr td span b{color:#b2e400;text-align:center}

.active_leagues table tr.row_one-hover:nth-child(even) * {background-color:#4B4350 !important}
.active_leagues table tr.row_one-hover:nth-child(odd) * {background-color:#4B4350 !important}

.join_us{width:91px;height:91px;display:block;background:url(../images/join_pl.png) top left no-repeat;position:absolute;top:62px;right:-54px}
.right_c .p_box table td.nr,.right_c .p_box table td.nr_dbl{width:20px;padding:3px 0}
.active_leagues table tr.row_one:nth-child(even) td.corner1,.active_leagues table tr.row_one:nth-child(even) td.corner2,.active_leagues table tr.row_one:nth-child(odd) td.corner1,.active_leagues table tr.row_one:nth-child(odd) td.corner2{background:none;padding:0}
.active_leagues table th span,.active_leagues table td span{height:100%;display:block;padding:5px 10px}
.active_leagues table th.corner1 span,.active_leagues table tr.row_one:nth-child(odd) td.corner1 span{border-radius:5px 0 0 5px;background:#3B3340}

/* (2.7) ---------- form register ------------------------------- */

.form_table{width:100%;margin-top:15px}
.form_table td{vertical-align:middle;padding:6px 9px}
.form_table td input{width:289px;border:1px solid #555;border-radius:3px;padding:5px}
td.label{width:220px;text-align:right;font-family:DroidSansBold;font-size:11px;color:#C4B6CF}
.form_table td select{width:300px;border:1px solid #555;border-radius:3px;padding:5px}
input[type="submit"]{background:url(../images/long_btn.png) no-repeat scroll left top transparent;border:medium none;color:#111;display:block;font-family:DezenProRegularRegular;font-size:26px;font-weight:400;height:37px;padding-bottom:4px;width:173px;margin:0 auto}
input[type="submit"]:hover{color:#000}
.form_table input.error{border:1px solid red!important;background:#f5d8d8!important}
.form_table label.error{font-size:11px;display:block;padding-top:4px;color:#fff}
.form_table input.error:focus{background:#fff!important}

/* (2.8) ---------- page ------------------------------- */


.team_status{display:inline-block;float:left;font-family:DezenProRegularRegular;font-size:18px;font-weight:400;margin-left:10px;margin-top:12px;text-indent:6px;width:158px;-moz-border-radius: 3px;border-radius: 3px;border:2px solid;padding: 0px;width: auto;padding-right: 6px;}
.status_complete{background:#c2f400;color:#111;border-color:#d2f420;}
.status_incomplete{background:#f49200;color:#111;border-color:#ffc200;}

.normal_header{width:675px;padding-top:20px;padding-bottom:10px}
.back_to_lobby{background:url(../images/back_to_lobby.png) no-repeat scroll left top transparent;color:#111;display:block;float:right;font-family:DezenProRegularRegular;font-size:18px;font-weight:400;height:32px;line-height:30px;margin-right:5px;margin-top:12px;text-indent:8px;width:158px}
.normal_header .head_title{font-size:24px;padding-top:10px;color:#fff;font-weight:700;padding-left:5px;padding-bottom:10px;float:left}
.normal_header .head_title b{font-size:22px;color:#b2e400;font-weight:700}
.full_box{width:980px;background:#1e1422;border-radius:4px;padding:10px}
.full_box_left{width:445px;float:left;padding:10px}
.pp_content{background:#3b333f;width:445px;border-radius:0 5px 5px 5px}
.full_box_right{width:510px;float:right}
.field{background:url(../images/field_big.png) no-repeat scroll center top transparent;height:445px;padding-bottom:15px;width:445px;margin-top:10px}
.pp_header{width:100%}
.pp_header ul li{float:left;margin-right:10px}
.pp_header ul li a{background:none;border-radius:5px 5px 0 0;color:#a089af;display:block;font-family:DroidSansRegular;font-size:10px;line-height:20px;padding:3px 10px}
.pp_header ul li a.active_tab{background:none repeat scroll 0 0 #3B333F;border-radius:5px 5px 0 0;color:#FFF;display:block;font-family:DroidSansRegular;font-size:10px;line-height:20px;padding:3px 10px}
.field_nav{padding:10px}
.field_nav p{color:#FFF;font-family:DroidSansRegular;font-weight:700;margin-top:10px;font-size:10px;float:left}
.field_nav ul{float:left;margin-left:10px}
.field_nav ul li{float:left;margin-right:10px;font-family:DroidSansRegular;font-weight:700;font-size:10px;color:#7e7285;cursor:pointer;padding:8px}
li.active_f{background:#302734;color:#fff;font-family:DroidSansRegular;font-weight:700;font-size:10px;border-radius:4px}
    
    
/* (2.9) ---------- page players ------------------------------- */

.formation a{width:55px;height:55px;background:url(../images/player_shape.png) top left no-repeat;display:block;position:absolute;font-size:8px;color:#ff5728;text-align:center;line-height:40px}
.formation a:hover{text-decoration:none;background:url(../images/player_shape_on.png) top left no-repeat}

.formation .pl1{top:10px;left:193px}

.f4-4-2 .pl10,.f3-5-2 .pl10,.f5-3-2 .pl10{top:200px;left:159px}
.f4-4-2 .pl11,.f3-5-2 .pl11,.f5-3-2 .pl11{top:200px;left:229px}

.f4-4-2 .pl2,.f4-3-3 .pl2,.f4-2-4 .pl2{top:65px;left:88px}
.f4-4-2 .pl3,.f4-3-3 .pl3,.f4-2-4 .pl3{top:65px;left:159px}
.f4-4-2 .pl4,.f4-3-3 .pl4,.f4-2-4 .pl4{top:65px;left:229px}
.f4-4-2 .pl5,.f4-3-3 .pl5,.f4-2-4 .pl5{top:65px;left:299px}
.f4-4-2 .pl6 {top:135px;left:88px}
.f4-4-2 .pl7 {top:135px;left:159px}
.f4-4-2 .pl8 {top:135px;left:229px}
.f4-4-2 .pl9 {top:135px;left:299px}


.f3-5-2 .pl2,.f3-4-3 .pl2,.f3-3-4 .pl2{top:65px;left:120px}
.f3-5-2 .pl3,.f3-4-3 .pl3,.f3-3-4 .pl3{top:65px;left:193px}
.f3-5-2 .pl4,.f3-4-3 .pl4,.f3-3-4 .pl4{top:65px;left:266px}
.f3-5-2 .pl5{top:135px;left:76px}
.f3-5-2 .pl6{top:135px;left:135px}
.f3-5-2 .pl7{top:135px;left:194px}
.f3-5-2 .pl8{top:135px;left:253px}
.f3-5-2 .pl9{top:135px;left:309px}

/* 5-3-2 */
.f5-3-2 .pl2{top:65px;left:76px}
.f5-3-2 .pl3{top:65px;left:135px}
.f5-3-2 .pl4{top:65px;left:194px}
.f5-3-2 .pl5{top:65px;left:253px}
.f5-3-2 .pl6{top:65px;left:309px}

.f5-3-2 .pl7{top:135px;left:120px}
.f5-3-2 .pl8{top:135px;left:193px}
.f5-3-2 .pl9{top:135px;left:266px}

/* 4-3-3 */
.f4-3-3 .pl6{top:135px;left:120px}
.f4-3-3 .pl7{top:135px;left:193px}
.f4-3-3 .pl8{top:135px;left:266px}

.f4-3-3 .pl9,.f3-4-3 .pl9{top:200px;left:120px}
.f4-3-3 .pl10,.f3-4-3 .pl10{top:200px;left:193px}
.f4-3-3 .pl11,.f3-4-3 .pl11{top:200px;left:266px}

/* 3-4-3 */
.f3-4-3 .pl5 {top:135px;left:88px}
.f3-4-3 .pl6 {top:135px;left:159px}
.f3-4-3 .pl7 {top:135px;left:229px}
.f3-4-3 .pl8 {top:135px;left:299px}

/* 4-2-4 */
.f4-2-4 .pl6 {top:135px;left:159px}
.f4-2-4 .pl7 {top:135px;left:229px}

.f4-2-4 .pl8, .f3-3-4 .pl8 {top:200px;left:88px}
.f4-2-4 .pl9, .f3-3-4 .pl9 {top:200px;left:159px}
.f4-2-4 .pl10, .f3-3-4 .pl10 {top:200px;left:229px}
.f4-2-4 .pl11, .f3-3-4 .pl11 {top:200px;left:299px}

/* 3-4-3 */
.f3-4-3 .pl5 {top:135px;left:88px}
.f3-4-3 .pl6 {top:135px;left:159px}
.f3-4-3 .pl7 {top:135px;left:229px}
.f3-4-3 .pl8 {top:135px;left:299px}

/* 3-3-4 */
.f3-3-4 .pl5{top:135px;left:120px}
.f3-3-4 .pl6{top:135px;left:193px}
.f3-3-4 .pl7{top:135px;left:266px}

.modal_bg2{width:100%;height:100%;background:#fff;opacity:0;filter: alpha(opacity=0);position:fixed;top:0;left:0}
.player_toottip{width:180px;height:auto;position:absolute;display:none;margin:20px}
.player_toottip .pt_top{width:180px;height:10px;background:url(../images/tip1.png) 2px top no-repeat}
.player_toottip .pt_cont{width:180px;height:auto;background:url(../images/tip2.png) 2px top repeat-y}
.player_toottip .pt_cont h3{font-family:DroidSansBold;width:150px;float:right;font-size:16px}
.player_toottip .pt_cont ul{float:right;margin-right:24px;width:130px}
.player_toottip .pt_cont ul li{float:none;width:100%}
.player_toottip .pt_cont ul li a{background:url(../images/ar_black.png) no-repeat scroll 4px 9px transparent;display:block;font-family:DroidSansRegular;font-size:11px;color:#333;padding:4px 4px 4px 12px}
.player_toottip .pt_cont ul li a:hover{background-color:#cef250;border-radius:4px;text-decoration:none}
.player_toottip .pt_foot{width:180px;height:14px;background:url(../images/tip3.png) top left no-repeat}

/* (3.0) ---------- page player 1 ------------------------------- */

#pick_list{padding-bottom:5px;padding-top:5px}
.player_item{width:416px;background:#463f4a;border-radius:4px;display:block;margin:5px auto 0;padding:5px 8px;height:39px;}
.player_item span{display:block}
.player_item:hover{background:#342d38}
.pi_img{float:left;width:40px}
.pi_details{float:left;padding-left:10px}
.pi_details h4{font-family:DroidSansBold;font-size:14px;color:#fff}
.pi_details p{font-family:DroidSansBold;font-size:12px;color:#c3b6cc;font-weight:400}
.pi_cost{float:right;color:#b2e400;font-family:DroidSansBold;font-size:16px;padding:7px}
.choosed_player{padding-top:20px}
.chp_header{width:100%}
.chp_header ul li{float:left;margin-right:10px}
.chp_header ul li a{background:none;border-radius:5px 5px 0 0;color:#a089af;display:block;font-family:DroidSansRegular;font-size:10px;line-height:20px;padding:3px 10px}
.chp_header ul li a.active_tab{background:none repeat scroll 0 0 #3B333F;border-radius:5px 5px 0 0;color:#FFF;display:block;font-family:DroidSansRegular;font-size:10px;line-height:20px;padding:3px 10px}
.chp_content{background:#3b333f;border-radius:0 5px 5px 5px;width:425px;padding:10px}

/* (3.2) ---------- scores list ------------------------------- */
table.scoreboard td{ padding: 3px; }
table.scoreboard p.win_row { font-size: 14px }
table.scoreboard td.id { font-weigth: bold }

/* (3.1) ---------- page player list ------------------------------- */
table.all_player_list{width:505px}
.table_mask{max-height:495px;overflow:auto;width:505px;margin-top:10px}
.table_mask table.all_player_list{width:480px}
table.all_player_list th{background:#3B3340;font-family:DroidSansBold;font-size:11px;color:#C4B6CF;padding:5px 10px}
table.all_player_list th span{height:100%;display:block;padding:5px 10px}
table.all_player_list th.corner2 span{border-radius:0 5px 5px 0;background:#3B3340}
table.all_player_list tr.border td{border-bottom:1px solid #3B3340;padding:2px}
table.all_player_list tr.empty td{padding:2px}
table.all_player_list tr.row_one:nth-child(even) td{background:#2C2431;font-family:DroidSansBold;font-size:11px;color:#fff;border-bottom:4px solid #1D1220;padding:5px 10px}
table.all_player_list tr.row_one:nth-child(odd) td{background:#3B3340;font-family:DroidSansBold;font-size:11px;color:#fff;border-bottom:4px solid #1D1220;padding:5px 10px}
.indent{text-indent:-999em}
table.all_player_list td span{display:block;height:19px;line-height:19px;padding:5px 10px}
table.all_player_list tr.row_one:nth-child(even) td.corner1 span{border-radius:5px 0 0 5px;background:#2C2431}
table.all_player_list tr.row_one:nth-child(even) td.corner2 span{border-radius:0 5px 5px 0;background:#2C2431;text-align:center;float:right;height:100%;width:100%;display:block}
table.all_player_list tr.row_one:nth-child(odd) td.corner2 span{border-radius:0 5px 5px 0;background:#3B3340;text-align:center;float:right;height:100%;width:100%;display:block}
table.all_player_list tr td span b{color:#b2e400;text-align:center}
.players_header{height:36px}
.players_header a.all_t{background:url(../images/arrow_down.jpg) no-repeat scroll right 6px transparent;color:#FFF;display:block;float:left;font-family:DroidSansBold;font-size:11px;margin-top:7px;padding-right:16px}
.players_header ul{float:right;margin-top:5px;margin-right:7px}
.players_header ul li{float:left}
.players_header ul li a{color:#a089af;font-family:DroidSansBold;font-size:11px}
.players_header ul li a.active{color:#fff}
.players_header ul li span{color:#706577;padding:0 10px}
.mini_add{width:42px;height:19px;background:url(../images/mini_green.png) top left no-repeat;display:block;font-family:DezenProRegularRegular;font-weight:400;line-height:19px;text-align:left;text-indent:7px;font-size:13px;float:right;margin:0 auto;color: #444646;}
.lobby_mini_but{width:70px;height:19px;background:url(../images/mini_green.png) top left no-repeat;background-size:100% 19px;;display:block;font-family:DezenProRegularRegular;font-weight:400;line-height:19px;text-align:left;text-indent:7px;font-size:13px;float:right;margin:0 auto; margin-left: 5px;color: #444646;}
.lobby_mini_but_invalid{width:70px;height:19px;background:url(../images/mini_orange.png) top left no-repeat;background-size:100% 19px;;display:block;font-family:DezenProRegularRegular;font-weight:400;line-height:19px;text-align:left;text-indent:7px;font-size:13px;float:right;margin:0 auto; margin-left: 5px;color: #444646;}
.ie7 .mini_add {float:left}
.player_hire{padding-top:20px}
.player_det{width:250px;float:left}
.pd_name{border-bottom:1px solid #7b747f;padding:10px 0}
.pd_name h5{font-family:DroidSansBold;color:#fff;font-size:20px}
.pd_name p{font-family:DroidSansBold;color:#C4B6CF;font-size:11px}
.player_det table{margin-top:10px}
.player_det table td{padding-right:10px;padding-bottom:3px;font-family:DroidSansBold;color:#fff;font-size:11px}
.player_img{width:160px;float:right;padding-top:10px}
.hire_box{background:none repeat scroll 0 0 #2C2334;border-radius:4px 4px 4px 4px;float:left;height:45px;width:auto;padding:15px 115px 15px 15px}
.hire_add{background:url(../images/hire_green.png) no-repeat scroll left top transparent;font-family:DezenProRegularRegular;font-size:28px;font-weight:400;height:38px;line-height:38px;position:absolute;right:15px;text-align:left;text-indent:11px;top:23px;width:81px;color:#333}
.hire_info_box{width:175px;float:right;vertical-align:bottom}
.hire_info_box table{margin:0 auto}
.hire_info_box td.points{font-size:16px;color:#fff;padding-left:10px;text-align:right;font-weight:700;font-family:DroidSansBold}
.summary_box_big{width:480px;float:right;background:#3b333f;margin-top:10px;border-radius:4px;padding:15px}
.summary_box_big .box_one{float:left;margin-right:20px;padding:10px}
.save_gr{background:url(../images/save_btn.png) no-repeat scroll left top transparent;font-family:DezenProRegularRegular;font-size:28px;font-weight:400;height:40px;line-height:40px;position:absolute;right:33px;text-align:left;text-indent:9px;top:33px;width:91px;color:#333}
.teams_toottip{width:160px;height:auto;position:absolute;display:none;}
.teams_toottip .pt_top{width:160px;height:28px;background:url(../images/list_top.png) 2px top no-repeat}
.teams_toottip .pt_cont{width:160px;height:auto;background:url(../images/list_2.png) 2px top repeat-y}
.teams_toottip .pt_cont h3{font-family:DroidSansBold;width:160px;float:right;font-size:16px}
.teams_toottip .pt_cont ul{float:left;margin-left:10px;margin-top:5px;width:130px}
.teams_toottip .pt_cont ul li{float:none;width:100%}
.teams_toottip .pt_cont ul li a{display:block;font-family:DroidSansRegular;font-size:11px;color:#333;padding:3px 4px}
.teams_toottip .pt_foot{width:160px;height:14px;background:url(../images/list_3.png) 2px top no-repeat}
.close_tip{width:14px;height:14px;display:block;position:absolute;top:0;left:3px}
table.all_player_list th.corner1,table.all_player_list th.corner2,table.all_player_list tr.row_one:nth-child(even) td.corner1,table.all_player_list tr.row_one:nth-child(even) td.corner2,table.all_player_list tr.row_one:nth-child(odd) td.corner1,table.all_player_list tr.row_one:nth-child(odd) td.corner2{background:none;padding:0}
table.all_player_list th.corner1 span,table.all_player_list tr.row_one:nth-child(odd) td.corner1 span{border-radius:5px 0 0 5px;background:#3B3340}
.player_det table td.plabel,.hire_box span,.hire_info_box p,.summary_box_big span{color:#C4B6CF;font-family:DroidSansBold;font-size:11px}
.hire_box p.price_g,.summary_box_big p.price_g{color:#beec19;font-family:DroidSansBold;font-size:24px}
.teams_toottip .pt_cont ul li a:hover,.teams_toottip .pt_cont ul li.active_li a{background-color:#cef250;border-radius:4px;text-decoration:none}

/* MINE */
table.padding2 tr td,table.padding2 tr th, table.padding2 p { margin:1px; padding:1px; font-size: 12px; }

.points-table { margin-top: 10px; }
.points-table td, .points-table th {padding: 5px;}
.points-table th { font-weight: bold; }
h2 { font-size: 15px; padding-bottom: 8px; font-weight: bold;}
h3 { font-size: 13px; padding: 5px; padding-bottom: 5px; font-weight: bold;}

th.vl_header  { 
    cursor: pointer; 
} 
#virtualLeagues tbody:before {
    line-height:2px;
    content:"\200C";
    color:white; /* to hide text */
    display:block;
}
.scrollable_tbl {
	width: 100%;
}
.scrollable_tbl thead {
	display:block;
	width: 100%;
}
.scrollable_tbl thead tr {
	width:100%;
}
.scrollable_tbl tbody {
	display:block;
/*	height:400px; /* 5 times the equivalent of a text "size". */
/*	overflow-y:scroll; */
	border-top: 2px solid #000000;
}
.nr p span {
	text-align: center;
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	left: -3px;
}
.sponsored_league td {
	color: #d2ff55 !important;
}

/* tables */
table.tablesorter thead tr th {
	background-image: url(../images/sorter/bg.png);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../images/sorter/asc.png);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../images/sorter/desc.png);
}

table thead tr th.corner1 {
	border-radius: 5px 0 0 5px;
}

 table thead tr th.corner2 {
	border-radius: 0 5px 5px 0;
}